body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/* header section */

header {
    height: 100vh;
    /* background-image: url(images/image\ 27.png);
    background-repeat: no-repeat; */
    background-color: black;
}

#title {
    font-size: 3rem;
    padding-top: 11.5rem;
    color: red;
    animation-name: title-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes title-animation {
    0% {
        color: red;
    }

    25% {
        color: yellow;
    }

    50% {
        color: blue;
    }

    75% {
        color: orange;
    }

    100% {
        color: green;
    }
}


#header-info {
    font-size: 1.5rem;
}

#cover-img {
    position: absolute;
    top: 11.55rem;
}

/* main container */

main {
    background-color: rgb(24, 24, 24);
}

/* footer */

#footer-id {
    height: 35vh;
    margin-top: 3rem;
}

#copyright-id {
    margin-top: 2rem;
}